<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/myHead') %>
    <title>Edit User</title>
  </head>
  <body>
    <%- include ('partials/navbar') %>
    <div class="container main my-5 vh-100">
      <form
        action="/users/edit/<%= user.id%>?_method=PUT"
        method="POST"
        class="p-3 border border-1"
      >
        <div class="card-header mb-3 border border-2">
          <i class="fas fa-user"></i>
          Editar registro
        </div>
        <div class="mb-3 px-3">
          <label for="Nombre" class="form-label">Nombre completo</label>
          <input
            type="text"
            class="form-control"
            name="Nombre"
            id="Nombre"
            placeholder="Nombre..."
            value="<%= user.Nombre%>"
          />
        </div>
        <div class="mb-3 px-3">
          <label for="Telefono" class="form-label">Teléfono</label>
          <input
            type="text"
            class="form-control"
            name="Telefono"
            id="Telefono"
            placeholder="Teléfono..."
            value="<%= user.Telefono%>"
          />
        </div>
        <div class="mb-3 px-3">
          <label for="FechaDeNacimiento" class="form-label"
            >Fecha de nacimiento</label
          >
          <input
            type="date"
            class="form-control"
            name="FechaDeNacimiento"
            id="FechaDeNacimiento"
            value="<%= user.FechaDeNacimiento%>"
          />
        </div>
        <div class="mb-3 px-3">
          <label for="Direccion" class="form-label"
            >Dirección de residencia</label
          >
          <input
            type="text"
            class="form-control"
            name="Direccion"
            id="Direccion"
            placeholder="Dirección..."
            value="<%= user.Direccion%>"
          />
        </div>
        <div class="mb-3 px-3">
          <label for="CorreoElectronico" class="form-label"
            >Correo electrónico</label
          >
          <input
            type="CorreoElectronico"
            class="form-control"
            name="CorreoElectronico"
            id="CorreoElectronico"
            placeholder="Correo electrónico..."
            value="<%= user.CorreoElectronico%>"
          />
        </div>
        <div class="mb-3 px-3">
            <button type="submit" class="btn btn-success btn-sm mt-3">
              <i class="fas fa-check me-1"></i>Guardar
            </button>
          </div>
      </form>
      <a href="/users" class="d-inline-block mt-3">
        <i class="fa fa-arrow-left me-2"></i>Regresar
      </a>
    </div>
    <%- include ('partials/footer') %>
    <script
      src="https://kit.fontawesome.com/849e8c00db.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
